pkgbase = thulium
	pkgdesc = A web browser built for speed, simplicity, and security
	pkgver = 102.0.5005.61
	pkgrel = 1
	url = https://www.chromium.org/Home
	arch = aarch64
	license = BSD
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = gperf
	makedepends = nodejs
	makedepends = pipewire
	makedepends = java-runtime-headless
	makedepends = git
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = xdg-utils
	depends = libxss
	depends = libcups
	depends = libgcrypt
	depends = ttf-liberation
	depends = systemd
	depends = dbus
	depends = libpulse
	depends = pciutils
	depends = libva
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fontconfig
	depends = libjpeg
	depends = icu
	depends = flac
	depends = snappy
	depends = libxml2
	depends = libwebp
	depends = minizip
	depends = opus
	depends = harfbuzz
	depends = re2
	depends = libxslt
	depends = libpng
	depends = freetype2
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: needed for file dialogs in KDE
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: for storing passwords in KWallet on KDE desktops
	provides = chromium
	conflicts = chromium
	options = !mold
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-102.0.5005.61.tar.xz
	source = chromium-launcher-8.tar.gz::https://github.com/foutrelis/chromium-launcher/archive/v8.tar.gz
	source = https://github.com/stha09/chromium-patches/releases/download/chromium-102-patchset-6/chromium-102-patchset-6.tar.xz
	source = logos.zip
	source = 0012-branding.patch
	source = 0020-launcher-branding.patch
	source = 0021-appdata-branding.patch
	source = sql-make-VirtualCursor-standard-layout-type.patch
	source = chromium-101-libxml-unbundle.patch
	source = chromium-102-disable-dawn.patch
	source = chromium-102-no-opaque-pointers.patch
	source = 0001-widevine-support-for-arm.patch
	source = 0002-Run-blink-bindings-generation-single-threaded.patch
	source = 0003-Fix-eu-strip-build-for-newer-GCC.patch
	source = thulium-101.0.4951.64-1.tar.gz::https://github.com/Eloston/ungoogled-chromium/archive/101.0.4951.64-1.tar.gz
	source = drirc-disable-10bpc-color-configs.conf
	source = ug-102.patch::https://github.com/Eloston/ungoogled-chromium/pull/1964.patch
	source = ozone-add-va-api-support-to-wayland.patch
	source = wayland-egl.patch
	sha256sums = 1a3797d36901fa3ba63744b9a870b65a8890c9a850442c160196bc64df886b1f
	sha256sums = 213e50f48b67feb4441078d50b0fd431df34323be15be97c55302d3fdac4483a
	sha256sums = 23f2a772c4a6e31394d6ee7b8dbb5967d3b92bd859093444913377934bede594
	sha256sums = e43a03f068ade6722492ed4dc33ffb83f92b10ab0d0e57489d66c66f29109c65
	sha256sums = c524cf6cfcfa00feff7f646f933aaa34d6ce7be04f64f8486f646fc9d4f80155
	sha256sums = 1259cb3de4f7757d9308e4f1c71fedb77714a2721dd4629b918cd2eb65413ae3
	sha256sums = 7e47ef4484ebb4d046fcd25c08bdb48ed5502fbc9499252fbaa869f81d0afa00
	sha256sums = b94b2e88f63cfb7087486508b8139599c89f96d7a4181c61fec4b4e250ca327a
	sha256sums = ea7a93442456a03549509022bca6f3a5e1600fa14caa062dd0fa0a6c45bbc9a8
	sha256sums = edb917ee0a244e3d85b57a52560c99c5aaa3fd00d6a6346910722f20a26045f9
	sha256sums = a108edd984e42884089a5de063f9c069a936d29dd066b68c90b5dac6529a8d05
	sha256sums = b05841e51807487f513f27cc85f8cbdf68306706afba2b03a5c5ad5965a29dc6
	sha256sums = 56ceefb17b73eea37525380bf8105cd0fd8fcee0979cfcd3729a78471a35b6f2
	sha256sums = 5ce5f3c9a4f76e704bb407a463587e9d71ed613478c17d3bc328e839c259bb0d
	sha256sums = eb70d0260f121faa6e2efd8e80a5e258f23474a214ff9f4f112bdcffdaaadd83
	sha256sums = babda4f5c1179825797496898d77334ac067149cac03d797ab27ac69671a7feb
	sha256sums = 8d83bf6cf8f91f5d934aa5be4c1684fbde94bf51e630a960d574d5e52cd69d89
	sha256sums = 07bdc1b3fc8f0d0a4804d111c46ce3343cd7824de562f2848d429b917ce4bcfd
	sha256sums = 34d08ea93cb4762cb33c7cffe931358008af32265fc720f2762f0179c3973574

pkgname = thulium
